@import url(https://fonts.googleapis.com/css?family=Karla);

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

body {
	font-family: 'Ubuntu';
	background-color: #cfcfcf;
}

.ui-widget {
	font-size: 0.95em;
}

input[type="text"]:focus, input[type="password"]:focus {
	outline: none;
	border-color: #A30000;
	box-shadow: 0 0 10px #A30000;
}

h1 {
	border: 1px solid #000000;
	font-variant: small-caps;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    width: 100%;
    background-color: #A30000;
    border-color: #A30000;
}

#user {
	font-family: monospace;
	font-size: 18px;
	font-weight: 400;
	color: #ffffff;
	background: #000000;
}

#headerpic{
	width: 20%;
	height: 20%;
}