body {
	font-family: 'Ubuntu';
}

.ui-widget {
	font-size: 0.95em;
}

input[type="text"]:focus, input[type="password"]:focus {
	outline: none;
	border-color: #A30000;
	box-shadow: 0 0 10px #A30000;
}

h2 {
	color: #A30000;
	font-family: 'Ubuntu';
}

#user {
	font-family: monospace;
	font-size: 18px;
	font-weight: 400;
	color: #ffffff;
	background: #000000;
}